<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Co_memberMapper">
	<resultMap type="kr.co.semo.model.Co_member" id="co_memberMap">
		<result property="id"			column="id"/>
		<result property="co_name"		column="co_name"/>
		<result property="broker_num"	column="broker_num"/>
		<result property="office_num"	column="office_num"/>
		<result property="office_addr"	column="office_addr"/>
		<result property="tel_num"		column="tel_num"/>
		<result property="boss_name"	column="boss_name"/>
		<result property="tel"			column="tel"/>
		<result property="assi_name"	column="assi_name"/>
		<result property="position"		column="position"/>
		<result property="email_id"		column="email_id"/>
		<result property="user_pw"		column="user_pw"/>
		<result property="approval"		column="approval"/>
		<result property="reg_date"		column="reg_date"/>
		<result property="broker_img"	column="broker_img"/>		
		<result property="recent_date"	column="recent_date"/>
	</resultMap>	
	<insert id="insertItem" parameterType="kr.co.semo.model.Co_member" 
	useGeneratedKeys="true" keyProperty="id">
		INSERT INTO co_member (
			co_name, broker_num, office_num, office_addr, tel_num, boss_name,
			tel, assi_name, position, email_id, user_pw, approval, reg_date,
			broker_img, recent_date
		) VALUES (
			#{co_name}, #{broker_num}, #{office_num}, #{office_addr}, #{tel_num}, 
			#{boss_name}, #{tel} , #{assi_name},#{position}, #{email_id}, #{user_pw}, 
			#{approval}, #{reg_date}, #{broker_img}, #{recent_date}
		)
	</insert>
	
	<!-- 단일행 조회 -->
    <select id="selectItem"
        parameterType="kr.co.semo.model.Co_member"
        resultMap="co_memberMap">
        SELECT id, co_name, broker_num, office_num, office_addr, tel_num, boss_name,
			tel, assi_name, position, email_id, user_pw, approval, reg_date,
			broker_img, recent_date
        FROM co_member 
        WHERE id=#{id};
    </select>

	<!-- 로그인 회원 정보 조회 -->
	<select id="selectLoginUser" 
			parameterType="kr.co.semo.model.Co_member"
			resultMap="co_memberMap">
		SELECT id, co_name, email_id, user_pw FROM co_member
		<where>
			<if test="email_id != null and email_id != ''">
				email_id LIKE concat(#{email_id})
			</if>
			<if test="user_pw != null and user_pw != ''">
				AND user_pw LIKE concat(#{user_pw})
			</if> 
		</where>
	</select>
	
	<!-- 관리자 페이지 중개사 출력  -->
	<select id="selectList"
	parameterType="kr.co.semo.model.Co_member"
	resultMap="co_memberMap">
			SELECT id, co_name, broker_num, office_num, office_addr, tel_num, boss_name,
				tel, assi_name, position, email_id, user_pw, approval, reg_date,
				broker_img, recent_date
			FROM co_member	
	</select>	
	
	<!-- 관리자페이지 중개사 키워드 검색 Mapper -->
	<select id="searchList"
	parameterType="kr.co.semo.model.Co_member"
	resultMap="co_memberMap">
			SELECT id,co_name, broker_num, office_num, office_addr, tel_num, boss_name,
				tel, assi_name, position, email_id, user_pw, approval, reg_date,
				broker_img, recent_date
			FROM co_member	
			
			<!-- 검색 기능 -->
			<where>
				<if test="co_name != null and co_name != ''">
				co_name LIKE concat('%', #{co_name}, '%')
				</if>
			</where>
			ORDER BY id ASC
			<!-- 페이지 번호 구현 -->
			<if test="co_listCount > 0">
			LIMIT #{offset}, #{co_listCount}
			</if>
	</select>
	
	<!-- 데이터 수 조회를 위한 기능 -->
	<select id = "selectCountAll"
	parameterType="kr.co.semo.model.Co_member" resultType="int">
		SELECT COUNT(*)
		FROM co_member
		<where>
			<if test="co_name != null || co_name != ' '">
				co_name LIKE concat('%', #{co_name}, '%')
			</if>
		</where>
	</select>
	
	<!-- 회원 정보 수정 -->
	<update id="updateItem"
		parameterType="kr.co.semo.model.Co_member">
		UPDATE co_member
		SET co_name=#{co_name}, broker_num=#{broker_num}, office_num=#{office_num}, office_addr=#{office_addr},
			boss_name=#{boss_name}, tel_num=#{tel_num}, tel=#{tel}, assi_name=#{assi_name}, position=#{position},
			user_pw=#{user_pw}, approval=#{approval}, broker_img=#{broker_img}
		WHERE id=#{id}
	</update>
	
	<!-- 중개사 회원 승인/비승인 -->
	<update id="updateApproval"
		parameterType="kr.co.semo.model.Co_member">
		UPDATE co_member
		SET approval=#{approval}
		WHERE id=#{id}
	</update>
	
	<!-- 최근 로그인 시간 변경 -->
	<update id="updateRecent"
		parameterType="kr.co.semo.model.Co_member">
		UPDATE co_member 
		SET recent_date=#{recent_date}
		WHERE id=#{id}
	</update>
	
	<delete id="deleteItem"
		parameterType="kr.co.semo.model.Co_member">
		DELETE FROM co_member 
		WHERE id = #{id}
	</delete>
	
	<!-- 이메일 정보 조회 -->
   <select id="checkEmail"
      parameterType="kr.co.semo.model.Co_member" resultMap="co_memberMap">
      <!-- parameterType 은 들어올 때 값, resultMap은 내보낼 때 값 -->
      SELECT email_id FROM co_member
      WHERE email_id=#{email_id};
   </select>
   
   <!-- 비밀번호 갱신을 위한 기능 정의 -->
   <update id="updatePassword"
      parameterType="kr.co.semo.model.Co_member">
      UPDATE co_member SET user_pw=#{user_pw}
      WHERE
      email_id=#{email_id}
   </update>
	
</mapper>