<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MamulJson">
	<resultMap type="kr.co.semo.model.MaemulJson" id="MaemulJson">
		<result property="lat" column="latitude"/>
		<result property="lng" column="longitude"/>
	</resultMap>
	
	
	<select id="selectList"
	parameterType="kr.co.semo.model.MaemulJson"
	resultMap="MaemulJson">
		SELECT latitude, longitude
		FROM maemul_register
	</select>
</mapper>
