@charset "utf-8";

/*------------- 복사해서 사용하세요  --------------------*/

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	
}

.logo {
	margin-left: 30px;
}

.menu_navbar {
	width: 100%;
	padding-right: 40px;
	margin-bottom: 0;
	line-height:45px;
}

.navbar-text {
	font-size: 20px;
	font-weight: bold;
}

.navbar-right {
	font-size: 15px;
}

.content {
	height: 100%;
	width: 100%;
	background: #eee;
}

.footer {
	width: 100%;
	height: 320px;
	background: #333;
}

.modal-dialog.mymodal-size {
	width: 400px;
	height: 360px;
}

.mymodal-content {
	width: 100%;
	height: 100%;
}

.loginmodal-title {
	text-align: center;
	margin-top: 20px;
}

.modal form {
	margin-top: 20px;
}

.modal .input-container {
	margin-bottom: 10px;
	text-align: center;
}

.modal .input-info {
	width: 270px;
	display: inline-block;
}

.modal .forgot-pw input {
	margin-left: 50px;
}

.modal .forgot-pw span {
	margin-left: 90px;
}

.mymodal-body .adduser {
	margin-left: 55px;
}

.loginbtn {
	margin-top: 30px;
	display: inline-block;
	width: 270px;
}

/*------------- 복사해서 사용하세요 END --------------------*/


/* content
-----------------------------------------*/
.title {
	margin-top : 60px;
}

.content{
	text-align: center;
	background-color: #eee;
}


/* content > box
-----------------------------------------*/
.box1{
	text-align: center;
	background-color: #fff;
	width: 300px; 
  	height: 350px;
	display: inline-block;
  	margin: 75px 50px 75px 50px;
  	border-radius: 50px;
	
}

.box2{
	text-align: center;
	background-color: #fff;
	width: 300px; 
  	height: 350px;
	display: inline-block;
  	margin: 75px 50px 75px 50px;
  	border-radius: 50px;
	
}

/* content > box > image
-----------------------------------------*/
.content img{
	margin: 50px 75px 50px 75px;
}

/* content > box > button
-----------------------------------------*/
.btn-default{
	background-color: #eee;
	position: relative;
	margin: auto;
}

