@charset "UTF-8";


/*------------- 복사해서 사용하세요  --------------------*/

html, body {
	margin: 0;
	padding: 0;
	height:100%;
	width:100%;
}

.logo {
	margin-left: 30px;
}

.menu_navbar {
	width: 100%;
	padding-right: 40px;
	margin-bottom: 0;
	line-height:45px;
}

.navbar-text {
	font-size: 20px;
	font-weight: bold;
}

.navbar-right {
	font-size: 15px;
}

.content {
	min-height: 750px;
	width: 100%;
	background: #eee;
}

.footer {
	width: 100%;
	height: 320px;
	background: #333;
}

.modal-dialog.mymodal-size {
	width: 400px;
	height: 360px;
}

.mymodal-content {
	width: 100%;
	height: 100%;
}

.loginmodal-title {
	text-align: center;
	margin-top: 20px;
}

.modal form {
	margin-top: 20px;
}

.modal .input-container {
	margin-bottom: 10px;
	text-align: center;
}

.modal .input-info {
	width: 270px;
	display: inline-block;
}

.modal .forgot-pw input {
	margin-left: 50px;
}

.modal .forgot-pw span {
	margin-left: 90px;
}

.mymodal-body .adduser {
	margin-left: 55px;
}

.loginbtn {
	margin-top: 30px;
	display: inline-block;
	width: 270px;
}

/*------------- 복사해서 사용하세요 END --------------------*/

.content-container {
	width: 1200px;
	position:relative;
}

.content-top {
	min-height: 150px;
}


.content-top h2 {
	margin-top: 60px;
	text-align: center;
}

.content-top p {
	color: #777;
	text-align: center;
}

.paginavi {
	display: block;
	text-align: center;
}

.paginavi > li > a {
	float: none;
	margin-left: -5px;
}

.sub {
	line-height: 50px;
	text-align: right;
}

.delAll {
	margin-left: 10px;
    line-height: 25px;
    margin-right: 10px;
	color: #777;
}

#maemulcount {
	color: red;
}

.interItem {
	margin-top: 20px;
}

.article-card {
	position: relative;
	float: left;
    width: 370px;
    height: 290px;
    margin-right: 15px;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    background: white;
	text-decoration: none;    
}

.picture-container {
   	top: 12px;
    left: 12px;
    right: 12px;
    height: 154px;
    overflow: hidden;
    position: absolute;
    border: 1px solid rgba(0,0,0,.1);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAAAAXNSR…g+oq1zRl1jZQDk7z9i/1vznEEhw4EKeIJVhupOzSGQZQT+BeZ86C6SJKT8AAAAAElFTkSuQmCC);
    background-size: 40px 40px;
    background-position: center center;
    background-repeat: no-repeat;
}

.preview {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e0e0e0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.price-container {
	font-size: 20px;
	margin-left: 12px;
	margin-top: 200px;
	color: black;
	font-weight: bold;	
}



.option {
    margin-left: 12px;
    color: black;
}

.tab-content {
	margin-left: 5px;
}
