@charset "utf-8";

/* content
-----------------------------------------*/
.title {
	margin-top : 60px;
}

.main-content{
	text-align: center;
}



/* content > circle
-----------------------------------------*/
.circle{
	border-radius: 100px;
}
ul {
	list-style: none;
}

.gallery{
	height: 250px;
}

.gallery li{
	width: 33%;
	float: left;
}

.cover01 {
	display: block;
	width: auto;
}

.gallery img{
	margin: 30px 75px 30px 75px;
}


/* content > policy
-----------------------------------------*/
.policy{
	background-color: #fff;
}



/* content > checkbox
-----------------------------------------*/


/* content > company_info
-----------------------------------------*/
.company_info{
	background-color: #eee;
	text-align : left;
	display: inline;
}

th {
	width : 250px;
	height: 70px;
}


/* content > box > button
-----------------------------------------*/
.btn-blue{
	background-color: #00ccff;
	height: 150px
	width: 250px;
	margin: 50px
}

/* content > box1
-----------------------------------------*/
.box1{
	text-align: center;
	background-color: #fff;
	width: 500px; height: 350px;
	display: inline-block;
	margin: auto;
}

.box1 img{
	width: 300px;
	height: 250px;
}
/* content > box > button
-----------------------------------------*/


/* 마감처리
-----------------------------------------*/




