@charset "utf-8";

/*------------- 복사해서 사용하세요  --------------------*/

 html, body {
	margin: 0;
    height: 100%;
  	padding: 0;
}

.logo {
	margin-left: 30px;
}

.menu_navbar {
	width: 100%;
	padding-right: 40px;
	margin-bottom: 0;
	line-height:45px;
}

.navbar-text {
	font-size: 20px;
	font-weight: bold;
}

.navbar-right {
	font-size: 15px;
}

.content {
	height: 100%;
	overflow: hidden;
}

.footer {
	width: 100%;
	height: 320px;
	background: #333;
}

.modal-dialog.mymodal-size {
	width: 400px;
	height: 360px;
}

.mymodal-content {
	width: 100%;
	height: 100%;
}

.loginmodal-title {
	text-align: center;
	margin-top: 20px;
}

.modal form {
	margin-top: 20px;
}

.modal .input-container {
	margin-bottom: 10px;
	text-align: center;
}

.modal .input-info {
	width: 270px;
	display: inline-block;
}

.modal .forgot-pw input {
	margin-left: 50px;
}

.modal .forgot-pw span {
	margin-left: 90px;
}

.mymodal-body .adduser {
	margin-left: 55px;
}

.loginbtn {
	margin-top: 30px;
	display: inline-block;
	width: 270px;
}


/*------------- 복사해서 사용하세요 END --------------------*/

.select-menu {
	width: 100%;
	line-height: 50px;
	background: #eee;
}
.main-content{
	height: 100%;
	margin: 0;
	padding: 0;
}
.map {
	height: 100%;
	margin: 0;
	padding: 0;
}

.maemulList {
	height: calc(100% - 250px);
	
}



.list {
	height: 100%;
	padding: 0;
}
/*************** select **************/
.select-menu .trade, .select-menu .price {
	display: inline;
}

.trade {
	margin-left: 40px;
}

.dropdown-menu {
	padding: 10px;
	margin-top: 10px;
}



.price .pricemenu{
	width: 300px;
}

.priceSales {
	width: 100%;
	position: relative;
}

.priceSales .centerprice {
	position: absolute;
	left:50%;
	transform: translateX(-50%);
	color: #888;
	top: -40px;
}

.priceSales .startprice {
	position: absolute;
	left: 0;
	color: #0066ff;
	top: -40px;
}

.priceSales .endprice {
	position: absolute;
	right: 0;
	color: #0066ff;
	top: -40px;
}
.mpriceSales {
	width: 100%;
	position: relative;
}

.mpriceSales .mcenterprice {
	position: absolute;
	left:50%;
	transform: translateX(-50%);
	color: #888;
	top: -40px;
}
.mpriceSales .mstartprice {
	position: absolute;
	left: 0;
	color: #0066ff;
	top: -40px;
}

.mpriceSales .mendpirce {
	position: absolute;
	right: 0;
	color: #0066ff;
	top: -40px;
}


#salesrange, #monthrange, #arearange {
	width: 250px;
	margin-left: 15px;
	margin-top: 30px;
}
.area {
	display: inline;
}
.area .areamenu{
	width: 300px;
}
.dediArea {
	width: 100%;
	position: relative;
}

.dediArea .centerarea {
	position: absolute;
	left:50%;
	transform: translateX(-50%);
	color: #888;
	top: -40px;
}
.dediArea .startarea {
	position: absolute;
	left: 0;
	color: #0066ff;
	top: -40px;
}

.dediArea .endarea {
	position: absolute;
	right: 0;
	color: #0066ff;
	top: -40px;
}
/*range background*/
body .noUi-connect {
	background: #0099ff;
}


